@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.groupContainerMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  margin-top: -60px;
}
.titleImageMenu {
  width: 650px;
  height: auto;
  display: block;
  max-width: 1000px;
  max-height: 100%;
  margin-bottom: -40px;
  margin-top: 45%;
}

body {
  background-image: url('images/bg.png');
}
.centeredenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.crownMenu {
  position: absolute;
  top: 315px;
  left: 0px;
  height: auto;
  width: 75px;
}
.buttonsBoxMenu {
  position: relative;
  width: 400px;
  top: 0px;
  right: 0%;
  padding: 40px;
  border-radius: 4px;
  margin: auto;
}
.formMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonMenu {
  display: inline-block;
  background-color: black;
  color: #fff;
  font-size: 35px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.7s ease;
  width: 100%;
  height: 80px;
  padding: 8px 14%;
  padding-left: 0rem;
  text-align: center;
}
.buttonMenu:hover {
  background-color: rgb(226, 107, 38);
}
.inputboxmenu {
  position: absolute;
  width: 100%;
}

.playerGifMenu {
  position: absolute;
  top: 3rem;
  right: -11.5rem;
  transform: translateX(-400%);
  height: auto;
  width: 60px;
}
.settingsGifMenu {
  position: absolute;
  top: 54%;
  right: 1rem;
  transform: translateX(-80%);
  height: auto;
  width: 60px;
}
.multiplayerGif1Menu {
  position: absolute;
  top: 7%;
  right: 4.5rem;
  transform: translateY(190%);
  height: auto;
  width: 60px;
}
.multiplayerGif2Menu {
  position: absolute;
  top: 7%;
  right: 2.5rem;
  transform: translateY(190%);
  height: auto;
  width: 60px;
}
.multiplayerGif3Menu {
  position: absolute;
  top: 20%;
  right: 3.5rem;
  transform: translateY(100%);
  height: auto;
  width: 60px;
}

.myComponent {
  position: relative;
  top: -45rem;
  left: -40rem;
  padding-right: 10rem;
  padding-left: 2rem;
  border-radius: 1.875rem;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.05),
    0px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 30rem;
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 47.25rem) {
  .myComponent {
    gap: 0;
  }
}
.playerAvatar {
  flex: 0 0 auto;
  width: 5rem;
}
.playerAvatarImg {
  position: relative;
  top: 0.2rem;
  left: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.playerInfo {
  flex: 1 1 0%;
}
.playerInfo .playerName {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playerInfo .playerStats {
  font-size: 1rem;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volumeControl {
  display: flex;
  align-items: center;
}

.volumePercent {
  margin-left: 10px;
  font-weight: bold;
}
