@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.groupcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.loginbox {
  width: 350px;
  background: #222;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  margin-inline: auto;
  margin-top: -85px;
}
.loginboxcontent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.logincontenth2 {
  font-size: 2em;
  color: rgb(226, 107, 38);
  text-transform: uppercase;
  font-family: 'Regular 400';
}
.loginform {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.logininputBox {
  position: relative;
  width: 100%;
}
.logininput {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.logini {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  /* color: red; */
  transition: 0.5s;
  pointer-events: none;
}
.logininput:focus ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.logininput:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.buttonlogin[type='submit'] {
  padding: 10px;
  background: #e26b26;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 100%;
}
.buttonlogin[type='submit']:active {
  opacity: 0.6;
}
@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
.loginlinks {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.loginlinks2 {
  color: #e26b26;
  font-weight: 600;
}
.signuplinks2 {
  color: #e26b26;
  font-weight: 600;
}
