@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.background {
  background-image: url("public/images/bg.png");
  background-size: cover;
  height: 100vh;

  background-repeat: no-repeat;
}
.titleimage {
  display: block;
  margin-inline: auto;
  width: 40%;
}
.crown {
  position: absolute;
  top: 45.5px;
  left: 450px;
  width: 5%;
}
.containertitle {
  display: block;
}
.loginbox {
  width: 390px;
  background: #222;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
  margin-inline: auto;
  margin-top: -4.3%;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.contenth2 {
  font-size: 2em;
  color: rgb(226, 107, 38);
  text-transform: uppercase;
  font-family: 'Regular 400';
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.inputBox {
  position: relative;
  width: 100%;
}
.input { 
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
} 
.i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.input:focus ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.buttonlogin[type="submit"] {
  padding: 10px;
  background: rgb(226, 107, 38);
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 100%;
}
.buttonlogin[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}


